
.byline{
  font-size: 2rem;
  line-height:1.25em;
  margin-top: 2em;
  font-weight: 500;

  @media only screen and (min-width: 768px) {
  font-size: 5rem;
  margin-top: 2em;
  }
}

.feed {
  display: none;
}
#portfolio {
	margin-top: 2rem;
  @media (min-width: 768px) {
    margin-top: 8rem;
  }
}

.case-study__title {
  font-size: 1.5rem;
  font-weight: $medium;
  line-height: 1.25em;
  margin-top: 1.25em;

  @media (min-width: 1024px)  {
    font-size: 3rem;
  }
}

.case-study__image {
  max-width: 100%;
}

.text-tracked {
	font-size: .75rem;
	letter-spacing: .1667em;
	text-transform: uppercase;
}

.portfolio-item {
   box-sizing: border-box;
   margin: auto -16px 4rem;
}

.portfolio-item:hover {
  outline: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    display: flex;
    align-items: center;
    height: 480px;
    margin: auto -16px 10rem;
  }
}

.portfolio-item p{
  line-height: 1.25em;
}

.portfolio-item__tag {
  @extend .text-tracked;
  font-weight: bold;
}

.portfolio-item__title {
  font-size: 3rem;
  line-height: 1.1em;
  font-weight: 600;
  margin-top: .5em;
  &:after {
    border-bottom: 2px solid #000;
    content: "";
    display: block;
    margin:.5em 0;
    width: 2rem;
  }
}

a.portfolio-item__img {
  background: #fff;
  width: 100%;
  cursor: pointer;
  display: block;
}

.portfolio-item__dek{
  font-size: 1.25rem;
  line-height: 1.75em;
}


@media only screen and (min-width: 1024px) {
  .col-lg-neg-1 {
    margin-left: -8.33%;
  }
}

#paperless-post .portfolio-item__background {
  background: #CF905B;
  background: #f4e1ff;
  display: block;
  width: 100%;
  height: 480px;
}

#paperless-post .portfolio-item__img {
    background-size: 100%;
    background-position: center top;
    background-image: url("../svg/envelope.svg");
    background-position: center -2px;
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
    top: 48px;
    left: 25%;
    width: 300px;
    height: 200px;
    border: 2px solid #555;
}

#privco .portfolio-item__background {
  background: #ffe5cc;
  display: block;
  width: 100%;
  height: 480px;
}

#privco .portfolio-item__img {
    background-size: 100%;
    background-position: center top;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    position: relative;
    top: 43px;
    left: -49px;
    height: 96px;
    width: 370px;
}

#dominion .portfolio-item__background {
  background-color: #99a6b5;
  height: 320px;
}

#dominion .portfolio-item__img {
    background-size: 100%;
    background-position: center top;
    background-image: url("../svg/dominion.svg");
    background-repeat: no-repeat;
    position: relative;
    top: 43px;
    left: -49px;
    height: 232px;
    width: 362px;
}