body {
 /* background: #f2f1ef;*/
}

.container-fluid {
	@media (min-width: 1024px) {
	  max-width: 1150px;
	  padding: 0 32px;
	}
}

.header {
	display: flex;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: $light;

  @media (min-width: 768px) {
  font-size: 2rem;
   margin-bottom: 1rem;
   margin-top: 4rem;
  }
}

.logo {
	display: inline-block;
	cursor: pointer;
	&:hover {
  	text-decoration: none;
	}
}

.full-screen-preview {
  background: #eee;
  padding: 16px;
  .wrapper {

	  img {
	  	background: #ddd;
	  	border-radius: 16px;
	  	padding: 32px;

	  }
  }
}


nav {
	ul {
  	 -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
		li {
			float: right;
			list-style-type: none;
		}
	}
}


footer {
  margin-top: 10rem;
  margin-bottom: 2rem;
  text-align: center;
}
