.single-hero {
  padding-top: 2em;
  position: absolute;
  top: 4em;
  width: 100%;
  .single-hero__image {
  background: url("../images/ui-kit.jpg") no-repeat;
  background-size: contain;
  height: 560px;
  width: 100%;
  background-position: center bottom; 
  }
}

.single {
  background: #fff;
  
  header {
    background: #fffaf4;
    height: 400px;
  }
  
  .main {
    padding-top: 280px;
  }
}