<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body class="site">
			<header>
				<a href="/" class="logo">MC</a>
				<nav>
		    		<ul>
			        	<li><a href="/about">About</a></li>
		    		</ul>
				</nav>
			</header>
			<div class="main">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		&copy; Marissa Christy 2017
			</footer>
		</body>
	</html>
