<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body class="site">
			<header class="header container-fluid">
	   		<a href="{{site.url}}" class="logo">Marissa Christy</a>
				<nav>
		    		<ul>
			        	<li><a href="/about">Info</a></li>
		    		</ul>
				</nav>  
			</header>
			
			<main class="container-fluid">
			
			{{ content }}
			
			</main><!-- /.container -->
			<footer>
	    		&copy; 2018 Marissa Christy 
			</footer>
		</body>
	</html>
